#column {
    float: left;
    width: 30%;
    background-color: crimson;
}
#one {
    float: left;
    width: 30%;
    padding: 8px;
    margin: 10px;
    background-color: crimson;
}
.pic {
    float: right;
    padding: 5px;
    background-color: purple;
}
.cip {
    float: right;
    background-color: purple;
    padding: 5px;
}
.her {
    float: bottom right;
}
