

h1 {
    color:blue;
    text-align: center;
 }
 h2 {
     color:green;
     font-style: italic;
     text-align: center;
 }
 p {
     font-family: sans-serif;
     color: burlywood;
 }
 ul {
     line-height: 40px;
 }
 li {
     color: paleturquoise;
     font-style: sans-serif;
     font-size: 8;
     }
p {
    font-family: arial;
    line-height: 80%;
}
strong{
    font-style: italic;
}
em{
    font-style: bold;
}
 .hihi {
     font-variant: initial;
 }
.haha{
    font-variant: inherit;
}
 




